{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://web.facebook.com/dare.adebayo.52438" target="_blank"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/iam_yemiadebayo/" target="_blank"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://twitter.com/DareAdebayo13" target="_blank"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://wa.me/message/WSSSIOW6BWSJI1" target="_blank"><img src="{% static 'images/what.svg' %}" alt="..."></a></li>
        
        </ul><br><br>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://wa.me/message/WSSSIOW6BWSJI1" target="_blank">Opeyemi Adebayo</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->